.navBarListItems {
  display: flex;
  align-items: center;
}

.navBarListItems.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.navBarListItems .type {
  padding-left: 10px;
}
